[submodule "derivatives/hipct_patch_I74_VOI-1_bm05/hipct_pred.ome.zarr"]
	path = derivatives/hipct_patch_I74_VOI-1_bm05/hipct_pred.ome.zarr
	url = https://github.com/dandizarrs/b787347b-3a65-4904-83eb-1faad4110ad7
	datalad-id = bb2b1427-2a77-410c-bc20-7f644c517e9f
[submodule "derivatives/hipct_patch_I74_VOI-1_bm05/hipct_input.ome.zarr"]
	path = derivatives/hipct_patch_I74_VOI-1_bm05/hipct_input.ome.zarr
	url = https://github.com/dandizarrs/748c1a6b-3550-4e4a-b7a3-b2366cb36d17
	datalad-id = 14935a1f-6447-4867-8446-daa2f9c1015c
[submodule "derivatives/hipct_patch_I74_VOI-1_bm05/hipct_pred_class.ome.zarr"]
	path = derivatives/hipct_patch_I74_VOI-1_bm05/hipct_pred_class.ome.zarr
	url = https://github.com/dandizarrs/abdaee6b-3d08-4646-8aed-ca77e86baed2
	datalad-id = cf312236-61af-436d-b70e-7872156daa7d
[submodule "derivatives/hipct_patch_I74_VOI-1_bm05/hipct_pred_prob.ome.zarr"]
	path = derivatives/hipct_patch_I74_VOI-1_bm05/hipct_pred_prob.ome.zarr
	url = https://github.com/dandizarrs/ee006416-64d6-4646-959c-d2137e847a06
	datalad-id = 2ac08e13-6c08-420d-9c7c-611b0983009c
[submodule "derivatives/sub-Hb1_sample-lhicp1p1t9_desc-v2bestpctinv/sub-Hb1_sample-lhicp1p1t9_label-axon_probseg.ome.zarr"]
	path = derivatives/sub-Hb1_sample-lhicp1p1t9_desc-v2bestpctinv/sub-Hb1_sample-lhicp1p1t9_label-axon_probseg.ome.zarr
	url = https://github.com/dandizarrs/e26391d7-a879-40bf-86e7-da735774666a
	datalad-id = ca205a68-78a5-476b-8786-fa9499146d1c
[submodule "derivatives/sub-Hb1_sample-lhicp1p1t9_desc-v2bestpctinv/sub-Hb1_sample-lhicp1p1t9_desc-input_micr.ome.zarr"]
	path = derivatives/sub-Hb1_sample-lhicp1p1t9_desc-v2bestpctinv/sub-Hb1_sample-lhicp1p1t9_desc-input_micr.ome.zarr
	url = https://github.com/dandizarrs/db648486-a3b0-4e68-a48a-ac36566c08ed
	datalad-id = 019418ae-6db7-43b6-a43b-2870011f84fc
[submodule "derivatives/sub-Hb1_sample-lhicp1p1t9_desc-v2bestpctinv/sub-Hb1_sample-lhicp1p1t9_desc-shellinterior_dseg.ome.zarr"]
	path = derivatives/sub-Hb1_sample-lhicp1p1t9_desc-v2bestpctinv/sub-Hb1_sample-lhicp1p1t9_desc-shellinterior_dseg.ome.zarr
	url = https://github.com/dandizarrs/fb734e1f-682b-4293-a37c-9195c371cd03
	datalad-id = 924dff2d-4de1-44d9-a2ad-724fa098a66b
[submodule "derivatives/sub-Hb1_sample-lhicp1p1t9_desc-v2bestpctinv/sub-Hb1_sample-lhicp1p1t9_label-axon_mask.ome.zarr"]
	path = derivatives/sub-Hb1_sample-lhicp1p1t9_desc-v2bestpctinv/sub-Hb1_sample-lhicp1p1t9_label-axon_mask.ome.zarr
	url = https://github.com/dandizarrs/7f22bb0c-bee5-46c0-b974-4171e2ea5343
	datalad-id = fb19eeb5-61db-41ca-88b0-7fa662ba1750
[submodule "derivatives/hipct_patch_I74_VOI-1_bm05_desc-t080otsugate/hipct_input.ome.zarr"]
	path = derivatives/hipct_patch_I74_VOI-1_bm05_desc-t080otsugate/hipct_input.ome.zarr
	url = https://github.com/dandizarrs/e7dc64e5-ecd6-48cc-a151-b7327b55bdb2
	datalad-id = 9c9504c9-a4a9-4719-a9c1-b3fc54d32404
[submodule "derivatives/hipct_patch_I74_VOI-1_bm05_desc-t080otsugate/hipct_pred.ome.zarr"]
	path = derivatives/hipct_patch_I74_VOI-1_bm05_desc-t080otsugate/hipct_pred.ome.zarr
	url = https://github.com/dandizarrs/ad8f1eb1-f39d-4d13-80a9-3e62bb357daa
	datalad-id = ecb700b7-28c3-4f27-99b5-0c19adb45349
[submodule "derivatives/hipct_patch_I74_VOI-1_bm05_desc-t080otsugate/hipct_pred_class.ome.zarr"]
	path = derivatives/hipct_patch_I74_VOI-1_bm05_desc-t080otsugate/hipct_pred_class.ome.zarr
	url = https://github.com/dandizarrs/92b0abb4-2e0a-4a46-9bd8-17059e298e10
	datalad-id = 66103e99-d995-4666-8117-37aef2f1a65e
[submodule "derivatives/hipct_patch_I74_VOI-1_bm05_desc-t080otsugate/hipct_pred_prob.ome.zarr"]
	path = derivatives/hipct_patch_I74_VOI-1_bm05_desc-t080otsugate/hipct_pred_prob.ome.zarr
	url = https://github.com/dandizarrs/d9d37986-3202-4461-8957-8a0b3fe4b47a
	datalad-id = d17d1071-a43e-40e2-9fce-62aaa237080f
[submodule "derivatives/sub-Hb1/dwi/sub-Hb1_sample-LeftHemi_atlas-BGPathwaysMaffei2026_space-orig_label-SubcorcticalNuclei_dseg.precomputed.not.a.zarr"]
	path = derivatives/sub-Hb1/dwi/sub-Hb1_sample-LeftHemi_atlas-BGPathwaysMaffei2026_space-orig_label-SubcorcticalNuclei_dseg.precomputed.not.a.zarr
	url = https://github.com/dandizarrs/384e4589-058b-41a8-9208-21fe8761a852
	datalad-id = 624881ed-13c8-49db-9176-438054f7d7ee
[submodule "derivatives/sub-Hb1/dwi/sub-Hb1_sample-LeftHemi_atlas-BGPathwaysMaffei2026_space-orig_track-ifod_tractogram.precomputed.not.a.zarr"]
	path = derivatives/sub-Hb1/dwi/sub-Hb1_sample-LeftHemi_atlas-BGPathwaysMaffei2026_space-orig_track-ifod_tractogram.precomputed.not.a.zarr
	url = https://github.com/dandizarrs/4a70fc5c-e6fb-4c13-a44e-fe5bebeea0ac
	datalad-id = 01d3254e-819b-4371-806b-00ef18b0c09f
[submodule "derivatives/sub-I65/stitched/sub-I65_sample-slice002_acq-660.ome.zarr"]
	path = derivatives/sub-I65/stitched/sub-I65_sample-slice002_acq-660.ome.zarr
	url = https://github.com/dandizarrs/be796287-413f-4faa-8943-8f8ecf45e269
	datalad-id = e240712d-33ec-4ee4-8dc1-eaa61bb8c794
[submodule "derivatives/sub-I65/stitched/sub-I65_sample-slice002_acq-561.ome.zarr"]
	path = derivatives/sub-I65/stitched/sub-I65_sample-slice002_acq-561.ome.zarr
	url = https://github.com/dandizarrs/39317157-6bd1-46f6-bc32-177fdf5ce005
	datalad-id = e56a5ac9-e6ed-473b-b8aa-6251273b007f
[submodule "derivatives/sub-I65/stitched/sub-I65_sample-slice002_acq-594.ome.zarr"]
	path = derivatives/sub-I65/stitched/sub-I65_sample-slice002_acq-594.ome.zarr
	url = https://github.com/dandizarrs/b226e812-6a18-40f3-a82e-b4180acb717e
	datalad-id = 13df56eb-cc7b-46d4-82f8-5c830a854ba6
[submodule "derivatives/sub-I65/stitched/sub-I65_sample-slice002_acq-488.ome.zarr"]
	path = derivatives/sub-I65/stitched/sub-I65_sample-slice002_acq-488.ome.zarr
	url = https://github.com/dandizarrs/c5d841ed-2efd-47ec-a774-336cdebececa
	datalad-id = aacfbd1e-0b24-47fb-b767-b2ab537ce4a1
[submodule "rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0002_acq-camera-02.ome.zarr"]
	path = rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0002_acq-camera-02.ome.zarr
	url = https://github.com/dandizarrs/61133c51-a218-4b14-96a3-6fe801cd7e54
	datalad-id = 1f1bdcc0-ba09-415b-a7f5-475697e3b468
[submodule "rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0002_acq-camera-01.ome.zarr"]
	path = rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0002_acq-camera-01.ome.zarr
	url = https://github.com/dandizarrs/a2cc0d08-72d7-403e-9597-83e17dac0c87
	datalad-id = 9659e65f-e1fd-427a-beae-3d82aefb613e
[submodule "rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0001_acq-camera-02.ome.zarr"]
	path = rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0001_acq-camera-02.ome.zarr
	url = https://github.com/dandizarrs/c8621b58-2105-4c07-9656-f4f40b8164ec
	datalad-id = 26a0f49b-5322-4804-9ce8-89d40c9906d4
[submodule "rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0003_acq-camera-01.ome.zarr"]
	path = rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0003_acq-camera-01.ome.zarr
	url = https://github.com/dandizarrs/d2347ee6-d470-472c-83db-25f11fb26133
	datalad-id = 472f743e-50e0-4d74-a3e4-4459cffbb8db
[submodule "rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0001_acq-camera-01.ome.zarr"]
	path = rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0001_acq-camera-01.ome.zarr
	url = https://github.com/dandizarrs/061922da-a38d-47b5-ba69-b2a7112e57ce
	datalad-id = 18e0e03a-1f5d-4a68-9aa7-8ada16a8345e
[submodule "rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0003_acq-camera-02.ome.zarr"]
	path = rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0003_acq-camera-02.ome.zarr
	url = https://github.com/dandizarrs/60a9bec4-60dd-4f55-9710-4a04df38a989
	datalad-id = 35283a44-4478-46a9-be16-15276d550a1e
[submodule "rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0004_acq-camera-01.ome.zarr"]
	path = rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0004_acq-camera-01.ome.zarr
	url = https://github.com/dandizarrs/74d40041-5776-4845-9289-164bc67fe814
	datalad-id = 0b9e4f9a-1cf1-46c8-8675-a85580b93735
[submodule "rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0004_acq-camera-02.ome.zarr"]
	path = rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0004_acq-camera-02.ome.zarr
	url = https://github.com/dandizarrs/4e00d873-4ab5-4c6d-94d0-ca93358d375e
	datalad-id = c6ca77ba-a06e-4da6-a2de-c262b99bf5b7
[submodule "rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0005_acq-camera-01.ome.zarr"]
	path = rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0005_acq-camera-01.ome.zarr
	url = https://github.com/dandizarrs/4821fa40-f2b7-43d4-932a-7e3cc788f843
	datalad-id = b4c784cc-48e5-4e19-aa5b-0a65d5f732fc
[submodule "rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0005_acq-camera-02.ome.zarr"]
	path = rawdata/sub-I65/strips_raw/sub-I65_sample-slice01_chunk-0005_acq-camera-02.ome.zarr
	url = https://github.com/dandizarrs/82c87fb4-e726-4def-a909-8d3a2a07cc46
	datalad-id = 11b59c0d-fac4-40d4-b8d8-b8b1c1152ca9
